:root {
    --main-color: #FF9900;
}

* {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

body {
    background: url(../img/Bgr.png) no-repeat center center fixed; 
    background-size: cover;
}

h1 {
    line-height: 100vh;
    width: 100%;
    user-select: none;
    color: aliceblue;
    text-shadow: 0px 0px 5px #FF9900;
}
